<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>[%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
      <driverClass>com.mysql.jdbc.Driver</driverClass>
      <url>jdbc:mysql://127.0.0.1:3306/hust-bill</url>
      <user>******</user>
      <password>******</password>
    </connectionSource>
  </appender>

  <logger name="org.apache.http.headers">  
    <level value="INFO" />  
  </logger>
  
  <logger name="org.apache.http.wire">  
    <level value="INFO" />  
  </logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>

</configuration> 
