<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        ">

  <!-- 配置文件位置 -->
  <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:jdbc.properties</value>
        <value>classpath:c3p0.properties</value>
      </list>
    </property>
  </bean>
  <!-- 配置c3p0数据源 -->
  <bean id="comboPooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
    <!-- JDBC配置 -->
    <property name="jdbcUrl" value="${jdbc.url}" />
    <property name="driverClass" value="${jdbc.driverClassName}" />
    <property name="user" value="${jdbc.username}" />
    <property name="password" value="${jdbc.password}" />
    <!-- c3p0连接池配置 -->
    <property name="initialPoolSize" value="${c3p0.initialPoolSize}" />
    <property name="maxPoolSize" value="${c3p0.maxPoolSize}" />
    <property name="minPoolSize" value="${c3p0.minPoolSize}" />
    <property name="acquireIncrement" value="${c3p0.acquireIncrement}" />
    <property name="acquireRetryAttempts" value="${c3p0.acquireRetryAttempts}" />
    <property name="maxIdleTime" value="${c3p0.maxIdleTime}" />
    <property name="maxStatements" value="${c3p0.maxStatements}" />
    <property name="idleConnectionTestPeriod" value="${c3p0.idleConnectionTestPeriod}" />
    <property name="breakAfterAcquireFailure" value="${c3p0.breakAfterAcquireFailure}" />
    <property name="testConnectionOnCheckout" value="${c3p0.testConnectionOnCheckout}" />
  </bean>


  <!-- Session工厂 -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="comboPooledDataSource" />
  </bean>

  <!-- mybatis支持直接获取session -->
  <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
    <constructor-arg ref="sqlSessionFactory" />
  </bean>

  <!--事务管理器 -->
  <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="comboPooledDataSource" />
  </bean>
  <tx:annotation-driven transaction-manager="dataSourceTransactionManager" />

  <!-- 自动扫描所有basePackage下以Repository注解的类或接口，完成Repository对象的注入 -->
  <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="com.hust.bill.electric.dao" />
    <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    <!-- optional unless there are multiple session factories defined -->
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
  </bean>

</beans>